/* .one{
    display: inline-block;
background-color: white;

width: 1000px;

}
.nav{
    display: inline-block;
    margin-left:700px ;
    font-family: Arial, Helvetica, sans-serif;
font-size: 14px;

}
.navli{
    display:inline-block;
   font-size: small;
  
}
.navul{
   
    display:inline-block;
   */
*{
    margin: 0;
    padding: 0;
}
.container{
    height: 100vh;
    width: 100%;
    background-image: url(Urban\ Fashion\ Img/background.png);
    background-position:center;
    padding-left:5% ;
    padding-right:5% ; 
    box-sizing: border-box;
position: relative;

}
.nav{
       width:100% ;
       height: 15vh;
       margin: auto;
       display: flex;
align-items: center;
    }
    .logo{
        width: 160px;
        cursor: pointer;
    }
    .cart{
        width: 40px;
        cursor: pointer;
    }
    ul,li{
display: inline-block;
margin-right: 10px;
    }
    .navul{
        margin-left: 616px;
    }
    .content  h1{
font-size: 60px;
font-weight: 100;
margin-top: 24px;
margin-bottom: 15px;
color:#232d60;
    }
    .content  h1{
        font-size: 20px;
       
        color:#6a7199;
            }  
            .content{
                margin-left: 10% ;
                margin-top: 10% ;
            }
  .content .btn{
    display: inline-block;
    background: linear-gradient(45deg,#87adfe,#ff77cd);
    border-radius: 6px;
    padding: 10px 20px;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;
    box-shadow: 3px 8px 22px rgba(94,28,68,0.15);
  }          
  .arrow-icon{
   margin-top: 40px;
   display: flex; 
  }
.img1{
    width: 40px;
    margin-right: 25px;
  }
  .imglogo{
    height: 90%;
    position: absolute;
    bottom: 0%;
    right: 160px ;
    
  }